<section id="contact" class="flex items-center justify-center bg-gray-900 text-white py-16 px-6 min-h-[calc(100vh-136px)]">
  <div class="max-w-4xl mx-auto text-center w-full">
    <h2 class="text-4xl font-bold text-blue-400 mb-8">Contacto</h2>
    <p class="text-lg text-gray-300 mb-6">
      ¿Tienes alguna pregunta o necesitas más información? ¡Contáctanos!
    </p>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-6 bg-gray-800 p-8 rounded-lg shadow-lg w-full">
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" class="p-4 bg-gray-700 rounded-lg text-gray-300 focus:outline-none focus:ring focus:ring-blue-400 w-full" required>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput placeholder="Correo Electrónico" formControlName="email" type="email" class="p-4 bg-gray-700 rounded-lg text-gray-300 focus:outline-none focus:ring focus:ring-blue-400 w-full" required>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Mensaje</mat-label>
        <textarea matInput placeholder="Mensaje" formControlName="message" rows="4" class="p-4 bg-gray-700 rounded-lg text-gray-300 focus:outline-none focus:ring focus:ring-blue-400 w-full" required></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid"
              [ngClass]="{'bg-blue-400': contactForm.valid, 'bg-blue-200': !contactForm.valid}"
              class="w-full text-white py-3 px-6 rounded-lg hover:bg-blue-500 transition transform hover:scale-105">
        Enviar Mensaje
      </button>
    </form>
  </div>
</section>
<app-spinner [isLoading]="isLoading"></app-spinner>
